@Model 
@{
    Layout = null;
}

<h3>MVC Kamp Tablo Örneği</h3>
<table>
    <tr>
        <th>Category Id</th>
        <th>Category Name </th>
        <th>Category Description</th>
        <th>Category Status</th>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>